td {
    font-size: 10pt;
    border: lightgray 1pt solid;

}

th {
    font-weight: 800;
    border: lightgray 1pt solid;

}

table {
    border: lightgray 1pt solid;

}

#scores {
    border: none;
}